<?xml version="1.0"?>
<model>
    <name>Ocean Plate</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Ryan McKee</name>
        <email>ryanmckee47@icloud.com</email>
    </author>

    <description>
        Large flat static blue ocean surface used as a low-cost stand-in for the
        animated ocean_waves model (asv_wave_sim), to improve simulation performance.
    </description>
</model>
